In [16]:
import sqlite3
connection = sqlite3.connect('pet_database.db')
cursor = connection.cursor()

In [17]:
cursor.execute('''CREATE TABLE cats(id INTEGER PRIMARY KEY, name TEXT, age INTEGER);''')

In [9]:
cursor.execute('''SELECT name FROM sqlite_master WHERE type='table';''').fetchall()

[('cats',)]

In [11]:
cursor.execute('''SELECT * FROM sqlite_master WHERE type='table';''').fetchall()

[('table',
  'cats',
  'cats',
  2,
  'CREATE TABLE cats(id INTEGER PRIMARY KEY, name TEXT, age INTEGER)')]

In [18]:
cursor.execute('''ALTER TABLE cats ADD COLUMN breed TEXT;''')

In [19]:
cursor.execute('''SELECT * FROM sqlite_master WHERE type='table';''').fetchall()

[('table',
  'cats',
  'cats',
  2,
  'CREATE TABLE cats(id INTEGER PRIMARY KEY, name TEXT, age INTEGER, breed TEXT)')]

In [21]:
cursor.execute('''INSERT INTO cats (name, age, breed) VALUES ('Maru', 3, 'Scottish Fold');''')

In [23]:
cursor.execute('''INSERT INTO cats (name, age, breed) VALUES ("Lil\' Bub", 5, "American Shorthair");''')

In [24]:
cursor.execute('''INSERT INTO cats (name, age, breed) VALUES ("Hannah", 1, "Tabby");''')

In [25]:
cursor.execute('''SELECT name FROM cats;''').fetchall()

[('Maru',), ("Lil' Bub",), ('Hannah',)]

In [26]:
cursor.execute('''SELECT name, age FROM cats;''').fetchall()

[('Maru', 3), ("Lil' Bub", 5), ('Hannah', 1)]

In [29]:
cursor .execute('''SELECT * FROM cats WHERE breed = "Tabby";''').fetchall()

[(3, 'Hannah', 1, 'Tabby')]

In [30]:
cursor.execute('''UPDATE cats SET name="Mara" WHERE name="Maru";''')

In [31]:
cursor.execute('''DELETE FROM cats WHERE id=2;''')