# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [2]:
import sqlite3
connection = sqlite3.connect('lego.db')
cur = connection.cursor()

        # Your code here

In [8]:
cur.execute('''SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;''').fetchall()

[('product_details',),
 ('product_info',),
 ('product_pricing',),
 ('product_reviews',)]

In [29]:
import pandas as pd
lego_df = pd.DataFrame(cur.execute(''' SELECT * FROM product_details
                                        JOIN product_info
                                        USING(prod_id)
                                        JOIN product_pricing
                                        USING(prod_id)
                                        JOIN product_reviews
                                        USING(prod_id);''').fetchall())
lego_df.columns = [i[0] for i in cur.description]

In [30]:
lego_df.head()

,prod_id,prod_desc,prod_long_desc,theme_name,ages,piece_count,set_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,blah,blahblah,Angry Birds™,6-12,277,Bird Island Egg Heist,US,29.99,2.0,4.0,Average,4.5,4.0
1,75822,blah,blahblah,Angry Birds™,6-12,168,Piggy Plane Attack,US,19.99,2.0,4.0,Easy,5.0,4.0
2,75821,blah,blahblah,Angry Birds™,6-12,74,Piggy Car Escape,US,12.99,11.0,4.3,Easy,4.3,4.1
3,21030,blah,blahblah,Architecture,12+,1032,United States Capitol Building,US,99.99,23.0,3.6,Average,4.6,4.3
4,21035,blah,blahblah,Architecture,12+,744,Solomon R. Guggenheim Museum®,US,79.99,14.0,3.2,Challenging,4.6,4.1

In [24]:
product_info = pd.DataFrame(cur.execute('''SELECT * from product_info;''').fetchall())
product_info.columns = [i[0] for i in cur.description]
product_pricing = pd.DataFrame(cur.execute('''SELECT * FROM product_pricing;''').fetchall())
product_pricing.columns = [i[0] for i in cur.description]
product_reviews = pd.DataFrame(cur.execute('''SELECT * FROM product_reviews;''').fetchall())
product_reviews.columns = [i[0] for i in cur.description]

,prod_id,ages,piece_count,set_name
0,630,4+,1,Brick Separator
1,2304,1½-5,1,LEGO® DUPLO® Green Baseplate
2,7280,5-12,2,Straight & Crossroad Plates
3,7281,5-12,2,T-Junction & Curved Road Plates
4,7499,5-12,24,Flexible and Straight Tracks
5,7895,5-12,8,Switching Tracks
6,8293,9-16,10,LEGO® Power Functions Motor Set
7,9843,8+,1,Touch Sensor
8,10214,16+,4295,Tower Bridge
9,10220,16+,1334,Volkswagen T1 Camper Van
10,10242,16+,1077,MINI Cooper
11,10243,16+,2469,Parisian Restaurant
12,10246,16+,2262,Detective’s Office
13,10247,16+,2464,Ferris Wheel
14,10249,12+,898,Winter Toy Shop
15,10251,16+,2382,Brick Bank
16,10252,16+,1167,Volkswagen Beetle
17,10253,16+,4163,Big Ben
18,10254,12+,734,Winter Holiday Train
19,10255,16+,4002,Assembly Square
20,10256,16+,5923,Taj Mahal
21,10257,16+,2670,Carousel
22,10258,16+,1686,London Bus
23,10259,12+,902,Winter Village Station
24,10260,16+,2480,Downtown Diner
25,10507,2-5,52,My First Train Set
26,10508,2-5,134,Deluxe Train Set
27,10572,1½-5,65,LEGO® DUPLO® All-in-One-Box-of-Fun
28,10590,2-5,29,Airport
29,10592,2-5,26,Fire Truck
...,...,...,...,...
714,76079,6-12,197,Ravager Attack
715,76080,7-14,323,Ayesha's Revenge
716,76082,6-12,185,ATM Heist Battle
717,76083,7-14,375,Beware the Vulture
718,76084,7-14,400,The Ultimate Battle for Asgard
719,76085,6-12,197,Battle of Atlantis
720,76086,7-14,622,Knightcrawler Tunnel Attack
721,76087,9-14,955,Flying Fox: Batmobile Airlift Attack
722,76088,7-14,492,Thor vs. Hulk: Arena Clash
723,76089,5-12,89,Mighty Micros: Scarlet Spider vs. Sandman
724,76090,5-12,86,Mighty Micros: Star-Lord vs. Nebula
725,76091,5-12,79,Mighty Micros: Thor vs. Loki
726,76096,6-12,199,Superman™ & Krypto™ Team-Up
727,76097,7-14,406,Lex Luthor™ Mech Takedown
728,76098,6-12,271,Speed Force Freeze Pursuit
729,76099,6-12,229,Rhino Face-Off by the Mine
730,76100,7-14,358,Royal Talon Fighter Attack
731,76101,6-12,124,Outrider Dropship Attack
732,76102,6-12,223,Thor's Weapon Quest
733,76103,7-14,416,Corvus Glaive Thresher Attack
734,76104,7-14,375,The Hulkbuster Smash-Up
735,76105,14+,1363,The Hulkbuster: Ultron Edition
736,76107,8-14,674,Thanos: Ultimate Battle
737,76108,8-14,1004,Sanctum Sanctorum Showdown
738,853516,6+,30,LEGO® NEXO KNIGHTS™ Monsters Army-Building Set
739,853638,7+,61,THE LEGO® BATMAN MOVIE Batman™ Minifigure Coll...
740,2000409,6+,4900,Window Exploration Bag
741,2000414,6+,219,Starter Kit
742,2000430,6+,2631,Identity and Landscape Kit
743,2000431,6+,2455,Connections Kit

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!